@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: MTV Gravity Grotesk;
        font-weight: 300;
        src: url(./fonts/mtvgravitygrotesk/MTVGravityGroteskLight.ttf) format("ttf");
    }
    @font-face {
        font-family: MTV Gravity Grotesk;
        font-weight: 400;
        src: url(./fonts/mtvgravitygrotesk/MTVGravityGroteskBook.ttf) format("ttf");
    }
    @font-face {
        font-family: MTV Gravity Grotesk Bold;
        font-weight: 700;
        src: url(./fonts/mtvgravitygrotesk/MTVGravityGroteskBold.ttf) format("ttf");
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url(./images/mtv_2021_background.png);
    background-size: cover;
    color: #f3f3f3;
    /* font-family: MTV Gravity Grotesk;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5; */
}

* {
    box-sizing: border-box;
}

